[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = TyRexZilla
	email = 32309781+DarthTyReX@users.noreply.github.com
